<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/create" >{% csrf_token %}
        <h2>Student registration</h2><br><br>
        <label>Student id :</label>
        {{form.student_id}} <br>
        <label>Student First name:</label>
        {{form.student_fname}} <br>
        <label>Student last name:</label>
        {{form.student_lname}} <br>
        <label>Mark :</label>
        {{form.mark}} <br>
        <label>Mail Id :</label>
        {{form.mail_id}} <br>
        <label>Contact :</label>
        {{form.contact}} <br>
        <input type="submit" value = "submit">
    </form>
</body>
</html>